.jumbotron{
	background: #33bb99;
	text-align: center;
	font-weight: bold;
}
h1{
	text-align: center;
	font-weight: bold;
}
.panel{
	border: 1px solid lightgrey;
}
.panel-heading{
	background: #33bb99;
	font-weight: bold;
}

th{
	font-weight: bold;
	
}
